<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>App biblioteca</h1>
    <% if (locals.books) { %>
      <table>
        <thead>
          <tr>
            <td>Livro</td>
            <td>Autor</td>
            <td>Gênero</td>
          </tr>
        </thead>
        <tbody>
          <% locals.books.forEach(function(book) { %>
            <tr>
              <td><%= book.book %></td>
              <td><%= book.author %></td>
              <td><%= book.gender %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </body>
</html>